In [1]:
import pandas as pd

In [7]:
News_ds = pd.read_csv("C:/Users/User/Downloads/module_pandas_B2-main (2)/module_pandas_B2-main/weather/weather.csv")

In [10]:
News_ds.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [12]:
News_ds.shape

(25000, 25)

In [13]:
News_ds.isnull()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,False,True,True,False,False,...,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,False,False,False,False,False,False,True,True,False,False,...,False,True,True,True,True,False,False,False,False,False
24996,False,False,False,False,False,False,True,True,False,False,...,False,True,True,True,True,False,False,False,False,False
24997,False,False,False,False,False,False,True,True,False,False,...,False,True,True,True,True,False,False,False,False,False
24998,False,False,False,False,False,False,True,True,False,False,...,False,True,True,True,True,False,False,False,False,False
24999,False,False,False,False,False,False,True,True,False,False,...,False,True,True,True,True,False,False,False,False,False